#isCustomFromEdges:checked ~ .upload-field {
    margin-top: 15px;
    display: block;
}

.upload-field {
    display: none;
}

fieldset {
    text-align: left;
}

input[type="checkbox"] {
    float: left;
    display: inline-block;
}

#adjacency-matrix-display {
    display: inline-block;
}
table {
    overflow: auto;
}

table td {
    vertical-align: top;
    height: 100%;
}

.probability-range {
    width: 100%;
}

.showcase-box {
    width: 100%;
    min-height: 300px;
}

.showcase-box #main {
    box-sizing: border-box;
    box-shadow: 0 0 4px #444444;
    margin: 20px;
}

.hint-pop {
    animation: pop 0.3s linear 1;
}

#varsInput > div {
    display: none;
}

@keyframes pop{
    50%  {transform: scale(1.02);}
}